<% @tweets.each do |tweet| %>
    <div class=tweet>
        <p><%= tweet.message %></p>
        </br>
        <% if tweet.image.present?  %>
            <p><%= image_tag "/get_image/#{tweet.id}", :height => '200'%></p>
        <% end %>
        <p>
            <%= "#{((Time.current - tweet.tdate) / 60).floor}分前"  %> 
            <%= link_to '詳細', tweet_path(tweet.id) %>
        </p>
    </div>
<% end %>