<div class=tweets>
    <% @tweets.each do |tweet| %>
        <div class=tweet onclick="location.href='<%= tweet_path(tweet.id) %>'">
            <%= render 'tweet', tweet: tweet %>
        </div>
    <% end %>
</div>
