<%= render 'tweet', tweet: @tweet %>

<div class=tweet-action>
    <%= button_to '編集', edit_tweet_path(@tweet.id), method: :get%>
    <%= button_to '削除', tweet_path(@tweet.id), method: :delete %>  
</div>